---
Checks: |
  -*,
  readability-identifier-naming,
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: Camel_Snake_Case
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g_
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.MemberCase
    value: camelBack
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
